body {
	background: linear-gradient(-45deg,#22c1c3 , #fdbb2d, #23c3d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 99vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #94bbe9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #22c1c3, #fdbb2d);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #22c1c3, #fdbb2d);
    }
    
    
    @media (min-width: 768px) {
    .gradient-form{
    height: 100vh !important;
    }
    }
    @media (min-width: 1000px) {
        .bg-image{
        height: 99vh !important;
        }
        }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

#p{
    font-size: 20px;
}

